{% extends "admin/base.html" %}
{% load static %}
<link href="{% static 'external.css'%}" rel="stylesheet">

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}
{% block extrastyle %}

<style>
body {
    background: #036;
}

h1 {
    colour: #205067;
}

#header {
    background: #5b80b2;
}

#branding {
    width: 90%;
}

#site-name {
    float: right;
}

</style>
{% endblock %}
{% block branding %}


<a class="logo-top" href="#">
	    <img src="{% static '/img/mozgi.jpg' %}" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy">
        BROBRAIN
</a>

<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}